[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
sphinx = "*"
nbsphinx = "*"
pydata-sphinx-theme = "*"

[dev-packages]

[requires]
python_version = "3.10"
